@page "{id:int}/{year:int?}/{tag?}"
@using TravelGalleryWeb.Models
@model AlbumModel

@{
    ViewData["Title"] = "Album";
    
}


<h2 class="d3">@Model.Name</h2>

<div class="btn-toolbar mb-2" role="toolbar" aria-label="Toolbar">
    <div class="btn-group mr-2" role="group" aria-label="Year group">
        
        @foreach (var year in Model.Years)
        {
            if (year == Model.Year)
            {
                <a class="btn btn-outline-dark btn-sm active" asp-route-year="@year" asp-route-tag="@PhotoTag.All">@year</a>
            }
            else
            {
                <a class="btn btn-outline-dark btn-sm" asp-route-year="@year" asp-route-tag="@PhotoTag.All">@year</a>
            }
        }
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Tag filter">
        <div class="dropdown">
            <button class="btn btn-outline-dark dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @Model.Tag
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-route-year = "@Model.Year" asp-route-tag="@PhotoTag.All">All</a>
                <a class="dropdown-item" asp-route-year = "@Model.Year" asp-route-tag="@PhotoTag.Nature">@PhotoTag.Nature</a>
                <a class="dropdown-item" asp-route-year = "@Model.Year" asp-route-tag="@PhotoTag.People">@PhotoTag.People</a>
            </div>
        </div>
    </div>
</div>

<section class="photoalbum">
    @if (Model.PhotoCollection.Count > 0){
        
        <!-- Modal -->
        <div class="container">
            
            <div class="modal fade" id="ModalCarousel" tabindex="-1" role="dialog" aria-labelledby="ModalCarouselLabel">
                <div class="modal-dialog mw-100" role="document">
                    <div class="modal-content">
                        <div id="carousel-modal-demo" class="carousel slide" data-ride="carousel" data-interval="false">

                            <!-- Sliding images starting here --> 
                            <div class="carousel-inner"> 
                                @foreach (var image in Model.PhotoCollection)
                                {
                                    //id without "f" ("frame") is a preview id, prefix is added so as not to confuse them
                                    <div class="carousel-item" id = @(image.Id+"f")>
                                        <img class="d-block img-fluid cImage" src="@image.FullPath" alt="...">
                                        @if (@image.Comment != null)
                                        {
                                            <div class="carousel-caption">
                                                <p>@image.Comment</p>
                                            </div>
                                        }
                                    </div>
                                } 
                            </div> 
                            <!-- Next / Previous controls here -->
                            <a class="carousel-control-prev" href="#carousel-modal-demo" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-modal-demo" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
        <div class="card-columns">
        
            @foreach (var image in Model.PhotoCollection)
            {
              <div class="card">
                    <a data-toggle="modal" data-target="#ModalCarousel" id = @image.Id class="photoLink"><img class="card-img-top" src="@Model.FindPreview(image.FullPath)" alt="Card image cap"></a>
                </div>
            }
                
        </div>}
    else
    {
        <h3>No Images to display!</h3>
    }
    
    <script type="text/javascript" src="js/site.js"></script>
</section>