@page "{id:int?}/{pagenumber:int?}"
@model TravelGalleryWeb.Pages.Admin.Photos.IndexModel

@{
    ViewData["Title"] = "Photos";
}

<h1>Photos</h1>

<p>
    <a asp-page="Create">Upload new photos</a>
</p>

<div class="btn-toolbar mb-2" role="toolbar" aria-label="Toolbar">
    <div class="btn-group mr-2" role="group" aria-label="Tag filter">
        <div class="dropdown">
            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Current album: @Model.AlbumName
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
               
                
                @foreach (var album in Model.AlbumsList)
                {
                    <a class="dropdown-item" asp-route-id="@album.Value">@album.Text</a>    
                }
            </div>
        </div>
    </div>
    
    <div class="btn-group mr-2" role="group" aria-label="Year group">
        
        @if (Model.PagesTotal > 1)
        {
            for (var i = 1; i <= @Model.PagesTotal; i++)
            {
                 if (i == @Model.PageNumber)
                 {
                     <a class="btn btn-outline-dark active" asp-route-id="@Model.Id" asp-route-pagenumber="@i">@i</a>
                 }

                 else
                {

                    <a class="btn btn-outline-dark" asp-route-id="@Model.Id" asp-route-pagenumber="@i">@i</a>
                }
            }
        }
        
    </div>
</div>






<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Photos[0].FullPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photos[0].AlbumName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photos[0].Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photos[0].Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photos[0].Tag)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Photos) {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.FullPath)" alt="Smiley face" height="50">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlbumName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>