@page
@model TravelGalleryWeb.Pages.Admin.Albums.IndexModel

@{
    ViewData["Title"] = "Albums";
}

<h1>Albums</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Albums[0].Cover)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Albums[0].Name)
        </th>
        <th>
            Number of photos
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Albums) {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Cover)" alt="Smiley face" height="50">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
               @Model.NumberOfPhotos(item)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
